[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/waf"]
	path = ext/waf
	url = https://code.google.com/p/waf/
[submodule "ext/waf-unittest"]
	path = ext/waf-unittest
	url = https://github.com/tanakh/waf-unittest.git
